<!-- SELLING POINT GOES HERE-->
        
        <section class="hero">

            <div class="catchphrase">

                <h2>We make <span>sweet memories</span></h2>
                <p id="catch-para"></p>

            </div>            

        </section>

<!-- ABOUT THE BAKERY -->

        <section class="introductory">

            <h2>A Neighborhood Baby</h2>
            <p id="intro-para"></p>

        </section>

<!-- MAIN PRODUCTS -->

        <section class="featured">

            <h2>Made to please</h2>
            <p id="feature-para"></p>

            <div class="featured-items">
                
                <div class="feature-card">
                    <div class="feature-img feature-1">                   
                        <a href="cakes.erb">
                            <img src=<%= $cakes[1].images %> height="100%" width="100%">
                            <h3 class="hidden">See more Cakes</h3>
                        </a>
                    </div>
                    <ul>
                        <li><%= $cakes[1].name %></li>
                        <li>$<%= $cakes[1].price %></li>
                        <ul class="inner">
                            <% desc = $cakes[1].desc %>
                            <% desc.each do |x| %>
                            <li> <%= x %> </li>
                            <% end %>
                        </ul>           
                    </ul> 
                </div>
                <div class="feature-card">
                    <div class="feature-img feature-2">
                        <a href="cookies.erb">
                            <img src=<%= $cookies[1].images %> height="100%" width="100%">
                            <h3 class="hidden">See more Cookies</h3>
                        </a>
                    </div>
                    <ul>
                        <li><%= $cookies[1].name %></li>
                        <li>$<%= $cookies[1].price %></li>
                        <ul class="inner">
                            <% desc = $cookies[1].desc %>
                            <% desc.each do |x| %>
                            <li> <%= x %> </li>
                            <% end %>
                        </ul>  
                    </ul> 
                </div>
                <div class="feature-card">
                    <div class="feature-img feature-3">
                        <a href="muffins.erb">
                            <img src=<%= $muffins[0].images %> height="100%" width="100%">
                            <h3 class="hidden">See more Muffins</h3>
                        </a>
                    </div>
                    <ul>
                        <li><%= $muffins[0].name %></li>
                        <li>$<%= $muffins[0].price %></li>
                        <ul class="inner">
                            <% desc = $muffins[0].desc %>
                            <% desc.each do |x| %>
                            <li> <%= x %> </li>
                            <% end %>
                        </ul>  
                    </ul> 
                </div>

            </div>

        </section>