<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bakery Framework</title>
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Didact+Gothic" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link href="/product.css" rel="stylesheet" type="text/css">
    <link href="/event-page.css" rel="stylesheet" type="text/css">
    <link href="/overlay.css" rel="stylesheet" type="text/css">
    <link href="/effects.css" rel="stylesheet" type="text/css">
    <link href="/responsive.css" rel="stylesheet" type="text/css">
</head>
<body>
    
    <div class="wrapper">

<!-- LOGO and MENU TAB-->

        <header id="top">


            <a href="<%= '/' %>"> <h1 id="logo"> Bake <span class="break">Shack</span> </h1> </a>

            <div class="menu-tab">

                
                <span onclick="openMenu()">MENU +</span>
            

            </div>

            <!-- Menu Content Hidden-->

            <nav class="overlay" id="popMenu">
                <a href="javascript:void[0]" class="close-btn" onclick="closeMenu()">- close</a>
                <div class="grid-menu-content">
                    
                    <div class="tabs" id="tab-1"><a href="<%= '/cakes' %>">Cakes</a></div>
                    <div class="tabs" id="tab-2"><a href="<%= '/cookies' %>">Cookies</a></div>
                    <div class="tabs" id="tab-3"><a href="<%= '/muffins' %>">Muffins</a></div>
                    <div class="tabs" id="tab-4"><a href="<%= '/events' %>">Events</a></div>
                </div>

            </nav>

        </header>

        <%= yield %>

<!-- FOOTER AREA Where all the magic happens. just kidding-->

        <footer>

            <nav class="site-nav hidden">

                <ul>
                    <li><a href="#top"></a>Top</li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>

            </nav>

            <nav class="social-media">

                <ul>
                    <li> 
                        <a href="" target="_blank"><img src="/images/icons/001-facebook.png" alt="" class="icon-img"></a>
                    </li>
                    <li>
                        <a href="" target="_blank"><img src="/images/icons/003-twitter.png" alt="" class="icon-img"></a>
                    </li>
                    <li> 
                        <a href="" target="_blank"><img src="/images/icons/002-instagram.png" alt="" class="icon-img"></a>
                    </li>
                </ul>

            </nav>
            
            <div class="contact-info">
                <p>+1 917.252.1187</p>
                <p>marketing@bakeshack.com</p>
                <p>205 Halsey St. <span class="break">Brooklyn, NY</span></p>
            </div>
            
            <p id="copyright">&copy; 2018 Bake Shack</p>

        </footer>

    </div>

    <script type="text/javascript" src="/menu.js"></script>
</body>
</html>